{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span>RECEITAS</span></a>
  <a href="/admin/chefs"><span class="selected">CHEFS</span></a>
  <a href="/admin/usuarios"><span>USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div class="recipe-edit">
    <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
      <div class="header-edit">
        <div>
          <span>Criando chef</span>
        </div>
        <div class="edit-actions">
          <button type="submit" class="save">Salvar chef</button>
        </div>
      </div>
      {% include "admin/chefs/fields.njk" %}
    </form>
  </div>
{% endblock content %}