{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span>RECEITAS</span></a>
  <a href="/admin/chefs"><span class="selected">CHEFS</span></a>
  <a href="/admin/usuarios"><span>USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div class="recipe-edit">
    <form method="POST" action="/admin/chefs/{{chef.id}}?_method=PUT" enctype="multipart/form-data">
      <div class="header-edit">
        <div>
          <span>Editando chef</span>
        </div>
        <input type="hidden" name="id" value="{{chef.id}}">
        <div class="edit-actions">
          <label for="delete" class="delete">Deletar</label>
          <button type="submit" class="save">Salvar chef</button>
        </div>
      </div>
      {% include "admin/chefs/fields.njk" %}
    </form>
    <form method="POST" action="/admin/chefs/{{chef.id}}?_method=DELETE">
      <button type="submit" class="delete" name="delete" id="delete">Deletar</button>
    </form>
  </div>
{% endblock content %}