<section class="form-content">
  <div class="form-field chef_avatar">
    {% if chef.avatar_url %}
      <label for="avatar" class="avatar_input">
      <img src="{{chef.avatar_url}}" alt="{{chef.name}}" id="chef_avatar">
    {% else %}
      <label for="avatar" class="avatar_input">
        <span>
          Selecione um avatar
        </span>
        <img src="" alt="" id="chef_avatar" class="hidden">
      </label>
    {% endif %}
    <input 
      type="file"
      id="avatar"
      name="avatar"
      accept="image/*"
      onchange="PhotosUpload.previewAvatar(event)"
    >
  </div>
  <div class="form-field">
    <span>Nome do Chef</span>
    <input type="text" name="name" value="{{chef.name}}">
  </div>
</section>