<section class="form-content">
  <div class="form-field">
    <span>Nome do Autor</span>
    <input type="text" name="name" value="{{chef.name}}">
  </div>
  <div class="form-field">
    <span>Avatar (URL)</span>
    <input type="text" name="avatar_url" value="{{chef.avatar_url}}">
  </div>
</section>