{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span>RECEITAS</span></a>
  <a href="/admin/chefs"><span class="selected">CHEFS</span></a>
  <a href="/admin/usuarios"><span>USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div>
    <a href="/admin/chefs/registrar" class="create-chef">Novo</a>
    <h2 style="margin-bottom: 50px">Gerenciar chefs</h2>
  </div>
  <div class="chefs-adminview">
    {% for chef in chefs %}
    <div class="chef-adminview">
      <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
      <div>
        <span>{{chef.name}}</span><br>
        <a href="/admin/chefs/{{chef.id}}" class="more-detail">Visualizar</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}}