{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span>RECEITAS</span></a>
  <a href="/admin/chefs"><span class="selected">CHEFS</span></a>
{% endblock header %}

{% block content %}
  <div>
    <a href="/admin/chefs/{{chefData.id}}/editar" class="create-chef">Editar Chef</a>
    <h2 style="margin-bottom: 50px">Chef: {{chefData.name}}</h2>
  </div>
  <div class="chef-detail">
    <div class="chef-info">
      <img src="{{chefData.avatar_url}}" alt="{{chefData.name}}">
      <h2>{{chefData.name}}</h2>
      <span>
      {% if chefData.recipes_amount <= 1 %}
        {{chefData.recipes_amount}} receita
      {% endif %}
      {% if chefData.recipes_amount > 1 %}
        {{chefData.recipes_amount}} receitas
      {% endif %}
      </span>
    </div>
    <h2 id="chef-recipes">Receitas</h2>
    <div class="recipes-adminview">
      {% for recipe in chefData.recipes %}
      <div class="recipe-adminview">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        <div>
          <span>{{recipe.title}}</span>
          <p>{{chef.name}}</p>
          <a href="/admin/receitas/{{recipe.id}}" class="more-detail">Visualizar</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}}