{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span>RECEITAS</span></a>
  <a href="/admin/chefs"><span>CHEFS</span></a>
  <a href="/admin/usuarios"><span class="selected">USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div class="recipe-edit">
    <form method="POST" action="/admin/usuarios/{{user.id}}?_method=PUT">
      <div class="header-edit user">
        <div>
          <span>Atualizar Usuário</span>
        </div>
        <input type="hidden" name="id" value="{{user.id}}">
        <div class="edit-actions">
          <button type="submit" class="save">Salvar</button>
        </div>
      </div>
      {% include "admin/users/fields.njk" %}
    </form>
  </div>
{% endblock content %}