<section class="form-content user-create">
  <div class="form-field">
    <span>Nome</span>
    <input type="text" name="name" value="{{user.name}}">
  </div>
  <div class="form-field">
    <span>Email</span>
    <input type="text" name="email" value="{{user.email}}">
  </div>
  <div class="form-field check-admin">
    {% if user %}
      <input type="checkbox" name="is_admin" 
      {% if user.is_admin %} 
        checked 
      {% endif %} 
      {% if not loggedUser.is_admin or loggedUser.is_admin and loggedUser.id == user.id %}
        disabled
      {% endif %}>
      <span>Administrador</span>
    {% else %}
      <input type="checkbox" name="is_admin">
      <span>Administrador</span>
    {% endif %}
  </div>
  {% if user %}
      <div class="form-field">
        <span>Senha</span>
        <input type="password" name="password" placeholder="Digite sua senha para atualizar" required>
      </div>
    {% endif %}
</section>