<section class="form-content user-create">
  <div class="form-field">
    <span>Nome</span>
    <input type="text" name="name" value="{{user.name}}">
  </div>
  <div class="form-field">
    <span>Email</span>
    <input type="text" name="email" value="{{user.email}}">
  </div>
  <div class="form-field check-admin">
    <input type="checkbox" name="is_admin" 
      {% if user.is_admin %} 
        checked 
      {% endif %} 
      {% if loggedUser.is_admin and loggedUser.email == user.email %}
        disabled
      {% endif %}>
    <span>Administrador</span>
  </div>
</section>