{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span>RECEITAS</span></a>
  <a href="/admin/chefs"><span>CHEFS</span></a>
  <a href="/admin/usuarios"><span class="selected">USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div>
    {% if loggedUser.is_admin %}
    <a href="/admin/usuarios/registrar" class="create-chef">Novo</a>
    {% endif %}
    <h2 style="margin-bottom: 50px">Usuários</h2>
  </div>
  <div class="users-adminview">
    {% for user in users %}
    <div class="user-adminview">
      <span>{{user.name}}</span><br>
      <span>{{user.email}}</span>
      {% if loggedUser.is_admin %}
      <div class="actions">
        <a href="/admin/usuarios/{{user.id}}/editar">Editar</a>
        {% if loggedUser.id != user.id %}
          <a href="/admin/usuarios/{{user.id}}/deletar">Remover</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endblock content %}}