@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 36px 0px 36px;
  width: 940px;
}

#menu a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#menu a:first-child{
  margin-right: 30px;
}

#banner {
  background-color: #FBDFDB;
  width: 940px;
  height: 366px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#banner img {
  margin: 0 auto;
  margin-top: 66px;
}

#welcome {
  max-width: 316px;
  margin-left: 60px;
}

#welcome h1 {
  margin-bottom: 10px;
}

#welcome p {
  font-size: 18px;
}

#most_accessed h2 {
  margin: 50px 0px 20px;
}

.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
}

.recipe {
  margin-bottom: 30px;
}

.recipe img {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.recipe span {
  color: #111111;
  font-size: 18px;
}

.recipe p {
  color: #777777;
  font-size: 14px;
  margin-top: 5px;
}

footer {
  height: 62px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
font-size: 14px;
color: #999999; 
}

/* ABOUT */

#content {
  width: 940px;
}

#content h2, h3 {
  margin-bottom: 20px;
}

#content p {
  font-size: 18px;
  margin-bottom: 50px;
}