{% extends 'admin/layout-admin.njk' %}

{% block menu_options %}
{% endblock menu_options %}

{% block content %}
  <div class="recipe-edit">
    <form method="POST" action="/admin/receitas">
      <div class="header-edit">
        <div>
          <span>Criando receita</span>
        </div>
        <div class="edit-actions">
          <button type="submit" class="save">Criar receita</button>
        </div>
      </div>
      <section class="form-content">
        <div class="form-field">
          <span>Título da receita</span>
          <input type="text" name="title">
        </div>
        <div class="form-field">
          <span>Imagem da receita (URL)</span>
          <input type="text" name="image">
        </div>
        <div class="form-field">
          <span>Autor</span>
          <select name="chef">
            {% for chef in chefs %}
            <option value="{{chef.id}}">
              {{chef.name}}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-field" id="ingredient-list">
          <span>Ingredientes</span>
          <input type="text" name="ingredients" class="ingredient-item">
        </div>
        <button class="add-ingredient" type="button">Adcionar novo ingrediente</button>
        <div class="form-field" id="preparation-list">
          <span>Modo de preparo</span>
          <input type="text" name="preparation" class="preparation-step">
        </div>
        <button class="add-preparation" type="button">Adcionar novo passo</button>
        <div class="form-field">
          <span>Informações adicionais</span>
          <textarea name="information" cols="30" rows="10" name="information"></textarea>
        </div>
      </section>
    </form>
  </div>
{% endblock content %}