{% extends 'layout.njk' %}

{% block menu_options %}
  <a href="/sobre">Sobre</a>
  <a href="/receitas"><strong>Receitas</strong></a>
  <a href="/chefs">Chefs</a>
{% endblock menu_options %}

{% block content %}
  <div class="search">
    <form method="GET" action="/receitas">
      <input type="text" placeholder="Pesquisar receita" name="filter" value={{filter}}>
      <button>Buscar</button>
    </form>
  </div>
  {% if filter %}
    <h2>Buscando por "{{filter}}"</h2><br>
  {% endif %}
  <div {% if recipes %} class="recipes expanded" {% else %} class="recipes" {% endif %}>
    {% for recipe in recipes %}
      <a class="recipe" href="/receitas/{{recipe.id}}">
        <img src="{{recipe.image.src}}" alt="Imagem de {{recipe.title}}">
        <span>{{recipe.title}}</span>
        <p>{{recipe.author}}</p>
      </a>
    {% endfor %}
  </div>

  <div 
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}
  ></div>
{% endblock content %}}