{% extends 'layout.njk' %}

{% block menu_options %}
{% endblock menu_options %}

{% block content %}
  <h2 style="margin-bottom: 30px">Gerenciar receitas</h2>
  <div class="recipes-adminview">
    {% for recipe in recipes %}
    <div class="recipe-adminview">
      <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
      <div>
        <span>{{recipe.title}}</span>
        <p>{{recipe.author}}</p>
        <a href="/admin/receitas/{{recipe.id}}" class="more-detail">Visualizar</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}}