{% extends 'admin/layout-admin.njk' %}

{% block menu_options %}
{% endblock menu_options %}

{% block content %}
  <div class="recipe-edit">
    <form method="POST" action="/admin/receitas/{{recipe.id}}?_method=PUT">
      <div class="header-edit">
        <div>
          <span>Editando receita</span>
        </div>
        <div class="edit-actions">
          <label for="delete" class="delete">Deletar</label>
          <button type="submit" class="save">Salvar receita</button>
        </div>
      </div>
      <section class="form-content">
        <div class="form-field">
          <span>Título da receita</span>
          <input type="text" value="{{recipe.title}}" name="title">
        </div>
        <div class="form-field">
          <span>Imagem da receita</span>
          <input type="text" value="{{recipe.image}}" name="image">
        </div>
        <div class="form-field">
          <span>Ingredientes</span>
          {% for ingredient in recipe.ingredients %}
            <input type="text" value="{{ingredient}}" name="ingredients">
          {% endfor %}
        </div>
        <div class="form-field">
          <span>Modo de preparo</span>
          {% for step in recipe.preparation %}
            <input type="text" value="{{step}}" name="preparation">
          {% endfor %}
        </div>
        <div class="form-field">
          <span>Informações adicionais</span>
          <textarea name="information" cols="30" rows="10" name="information">{{recipe.information}}</textarea>
        </div>
      </section>
    </form>
    <form method="POST" action="/admin/receitas/{{recipe.id}}?_method=DELETE">
      <button type="submit" class="delete" name="delete" id="delete">Deletar</button>
    </form>
  </div>
{% endblock content %}