{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span class="selected">RECEITAS</span></a>
  <a href="/admin/chefs"><span>CHEFS</span></a>
  <a href="/admin/usuarios"><span>USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div class="recipe-edit">
    <form method="POST" action="/admin/receitas" enctype="multipart/form-data">
      <div class="header-edit">
        <div>
          <span>Criando receita</span>
        </div>
        <div class="edit-actions">
          <button type="submit" class="save">Criar</button>
        </div>
      </div>
      {% include "admin/recipes/fields.njk" %}
    </form>
  </div>
{% endblock content %}