<section class="form-content">
  <div class="form-field photos-upload">
    <label for="photos-input"><i class="material-icons">add</i></label>
    <div id="photos-preview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
    <input 
      type="file"
      id="photos-input"
      name="photos"
      accept="image/*"
      multiple
      onchange="PhotosUpload.handlePhotoInput(event)"
    >
  </div>
  <div class="form-field">
    <span>Título da receita</span>
    <input type="text" value="{{recipe.title}}" name="title">
  </div>
  <div class="form-field">
    <span>Autor</span>
    <select name="chef">
      {% for chef in chefs %}
      <option value="{{chef.id}}" {% if recipe.author == chef.name %}selected{% endif %}>
        {{chef.name}}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-field" id="ingredient-list">
    <span>Ingredientes</span>
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <input type="text" value="{{ingredient}}" name="ingredients" class="ingredient-item">
      {% endfor %}
    {% else %}
        <input type="text" name="ingredients" class="ingredient-item">
    {% endif %}
  </div>
  <button class="add-ingredient" type="button">Adcionar novo ingrediente</button>
  <div class="form-field" id="preparation-list">
    <span>Modo de preparo</span>
    {% if recipe.preparation %}
      {% for step in recipe.preparation %}
        <input type="text" value="{{step}}" name="preparation" class="preparation-step">
      {% endfor %}
    {% else %}
      <input type="text" name="preparation" class="preparation-step">
    {% endif %}
  </div>
  <button class="add-preparation" type="button">Adcionar novo passo</button>
  <div class="form-field">
    <span>Informações adicionais</span>
    <textarea name="information" cols="30" rows="10" name="information">{{recipe.information}}</textarea>
  </div>
</section>