{% extends 'layout-admin.njk' %}

{% block header %}
  <a href="/admin/receitas"><span class="selected">RECEITAS</span></a>
  <a href="/admin/chefs"><span>CHEFS</span></a>
  <a href="/admin/usuarios"><span>USUÁRIOS</span></a>
{% endblock header %}

{% block content %}
  <div class="recipe-detail">
    {% if loggedUser.id == recipe.user_id or loggedUser.is_admin %}
    <a href="/admin/receitas/{{recipe.id}}/editar">Editar</a>
    {% endif %}
    <div class="recipe-gallery">
      <div class="highlight">
        <img src="{{files[0].src}}" alt="recipe.title" class="highlighted">
      </div>
      <div class="gallery-preview">
      {% for image in files %}
        <img 
          src="{{image.src}}" 
          alt="{{recipe.title}}"
          {% if loop.index0 == 0 %}
          class="selected"
          {% endif %}
          onclick="ImageGallery.setImage(event)"
        >
      {% endfor %}
      </div>
    </div>
    
    <div class="recipe-title">
      <h1>{{recipe.title}}</h1>
      <span>por {{recipe.author}}</span>
    </div>

    <section class="ingredients">
      <span class="sub-title">Ingredientes:</span>  
      <div class="sub-content" id="ingredient-content">
        <ul class="recipe-lists">
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}};</li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="preparation-method">
      <span class="sub-title">Modo de preparo:</span> 
      <div class="sub-content" id="preparation-content">
        <ul class="recipe-lists">
          {% for step in recipe.preparation %}
            <li>{{step}};</li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="additional-information">
      <span class="sub-title">Informações adicionais:</span> 
      <div class="sub-content" id="information-content">
        <p>{{recipe.information}}</p>
      </div>
    </section>
  </div>
{% endblock content %}