<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Foodfy</title>
</head>
<body>
  <div class="container">
    <header class="admin-header">
      <div>
        <a href="/admin"><img src="/assets/logo-white.png" alt="foodfy"></a>
        {% block header %}
        {% endblock header %}
      </div>
    </header> 
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  <footer>
    <span>Todos os direitos reservados, receitas Foodfy.</span> 
  </footer>
  <script src="/scripts.js"></script>
</body>
</html>