<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Foodfy</title>
</head>
<body>
  <header>
    <a href="/"><img src="/assets/logo.png" alt="foodfy"></a>
    <div id="menu">
      {% block menu_options %}
        <a href="/sobre">Sobre</a>
        <a href="/receitas">Receitas</a>
        <a href="/chefs">Chefs</a>
      {% endblock menu_options %}
    </div>
  </header> 
  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>

  {% block footer %}
    <footer>
      <span>Todos os direitos reservados, receitas Foodfy.</span> 
    </footer>
  {% endblock %}
  <script src="/scripts.js"></script>
</body>
</html>