{% extends 'layout.njk' %}

{% block menu_options %}
  <a href="/sobre">Sobre</a>
  <a href="/receitas"><strong>Receitas</strong></a>
  <a href="/chefs">Chefs</a>
{% endblock menu_options %}

{% block content %}
  <div class="search">
    <form action="">
      <input type="text" placeholder="Pesquisar receita" name="filter">
      <button>Buscar</button>
    </form>
  </div>
  <div class="recipes">
    {% for recipe in recipes %}
      <a class="recipe" href="/receitas/{{recipe.id}}">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        <span>{{recipe.title}}</span>
        <p>{{recipe.author}}</p>
      </a>
    {% endfor %}
  </div>
{% endblock content %}}

{% block footer %}
{% endblock %}